@import "./index.scss";


body {
    margin: 0;
    background: var(--forth-color);
    font-family: "Ubuntu Mono";
    color: var(--forth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #root{
        height: 100vh;
        width: 100vw;
        background-color: var(--first-color);

        .App {
            overflow-y: auto;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
        }
    }
}