.navbar {
    display: flex;
    justify-content: space-between;

    .icon-style {
        color: var(--forth-color);
        cursor: pointer;
    }

    .icon-style:hover {
        color: var(--third-color);
    }

    .chat-nav {

        .chat-links {

        }

        .chat-links.visible {
            display: block;
        }

        .chat-links.hidden {
            display: none;
        }
    }
}