.nav-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    position: relative;
    height: 100vh;

    .nav-bar {
        display: flex;
        justify-content: space-between;

        .icon-style {
            display: flex;
            color: var(--forth-color);
            cursor: pointer;
        }

        .icon-style:hover {
            color: var(--third-color);
        }
    }

    .chat-nav.visible {
        background-color: var(--third-color);
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        padding: 1.5rem;
        width: 300px;
        height: 100vh;
        display: block;
        z-index: 1;

        .icon-style {
            display: flex;
            color: var(--forth-color);
            cursor: pointer;
        }

        .icon-style:hover {
            color: var(--first-color);
        }
    }

    .chat-nav.hidden {
        display: none;
    }

    // .chat-nav {
    //     position: absolute;
    //     top: -1.5rem;
    //     left: -1.5rem;
    //     width: 300px;
    //     height: 100vh;
    //     background-color: var(--third-color);

    //     .chat-links {
    //         list-style: "⦾";
    //         padding: 0;
    //         margin: 0;
    //         position: absolute;
    //         top: 5rem;
    //         left: 4rem;
    //     }

    //     .chat-links.visible {
    //         display: block;
    //     }

    //     .chat-links.hidden {
    //         display: none;
    //     }
    // }
}